*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1.logo.me-auto.mb-0 img {
    width: 200px;
}
.input_submit {
    position: relative;
}
.input_submit button {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
    top: 5px;
}
.search_form input[type="text"] {
    height: 35px;
    background: #f1f4f6;
    border: none;
    padding-left: 10px;
    font-size: 12px;
    margin-right: 3px;
    width: 100%;
}
.profile_navigation {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.profile_navigation li {
    display: inline-block;
    margin: 0 8px;
}
.profile_navigation li a {
    font-size: 12px;
    color: #000;
    position: relative;
    text-decoration: none;
}
.profile_navigation li a i {
    font-size: 20px;
}
.profile_navigation span.count {
    position: absolute;
    right: -12px;
    background: #fdba2d;
    color: #fff;
    border: none;
    width: 15px;
    height: 15px;
    font-size: 10px;
    top: -7px;
    border-radius: 50%;
    text-align: center;
}
.online h4 {
    font-size: 18px;
    margin: 20px 0 20px 0px;
}
.srch_full input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  .srch_full input[type=text]:focus {
    width: 100%;
  }
  .sidebar_img_outr img {
    width: 100%;
}
section.other_special_main {
    margin: 40px 0 40px 0px;
}
.outr_bdr {
    border: 1px solid #efefef;
    border-radius: 6px;
    margin: 50px 0 0 0;
}
.outr_bdr img {
    width: 100px;
}
.arrow_right i.fas.fa-arrow-right {
    background-color: #bbbbbb;
    color: #f0eff0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 31px;
    text-align: center;
}
.outr_bdr h3 {
    font-size: 14px;
    font-weight: 700;
}
.outr_bdr p {
    font-size: 10px;
    color: #9a9a9a;
}
.outr_bdr img {
    width: 85px;
    position: absolute;
    top: -30px;
    bottom: 0;
    left: 10px;
    right: 0;
    border-radius: 6px;
}
.outr {
    position: relative;
}
.arrow_right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.srch_full {
    position: relative;
}
.srch_full i {
    position: absolute;
    top: 18px;
    left: 15px;
}
.avtar_img img {
    max-width: 120px;
    border-radius: 50%;
    margin: -60px auto 0;
}
.avtar_img h5 {
    background: #efefef;
    border-radius: 5px 5px 0 0;
    padding: 15px 20px 70px;
    line-height: 21px;
    font-size: 12px;
    text-align: center;
}
.avtar_img p {
    text-align: center;
    margin: 30px auto;
    padding: 0 15px;
}
.outer_wrapper {
    padding: 10px;
}
.avtar_img {
    background: #fff;
    box-shadow: 0 10px 30px #3331;
    padding: 5px;
    border-radius: 10px;
}
.avtar_img br {
    display: none;
}
.top_outr{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* labtest page css*/

/* footer */
#footer {
    color: #444444;
    font-size: 14px;
    background: #f1f7fd;
}
#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.bx {
    font-family: 'boxicons'!important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}













@media screen and (max-width: 768px) {
    .choose_outr {
        justify-content: right;
        position: relative;
        z-index: 1;
        text-align: right;
        padding-right: 37px;
        padding-top: 95px;
        padding-bottom: 27px;
    }
    .health_test_outer .container {
        padding: 0;
    }
    section.health_test_outer {
        position: relative;
    }
    .choose {
        width: 100%;
    }
}
